<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
</head>
<body>
    <h1>Room: {{ room_name }}</h1>

    <input id="username-input" type="text" placeholder="Enter your name">

    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" placeholder="Digite sua mensagem">
    <button id="chat-message-submit">Enviar</button>

    <script>
        const roomName = "{{ room_name }}";
        const chatSocket = new WebSocket(
    'ws://127.0.0.1:8001/ws/chat/' + roomName + '/'
);


        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const time = data.time;
            document.querySelector('#chat-log').innerHTML += (time + " " + data.username + ': ' + data.message + '<br>');

            chatLog.scrollTop = chatLog.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const usernameInputDom = document.querySelector('#username-input');
            const username = usernameInputDom.value || 'Anonymous';
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'username': username,
                'message': message,
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
